@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Use Google OAuth</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/security/create-an-aspnet-mvc-5-app-with-facebook-and-google-oauth2-and-openid-sign-on" class="btn btn-primary btn-lg">OAuth2.0 Sign-in Tutorial &raquo;</a></p>
</div>

<div class="row">
    <div class="post-text" itemprop="text">
        <p>As others correctly mentioned, most of the time that's because you do not have permission to the Google+ API so here is how to get permission for a project in Google API Manager to Google+ API</p>

        <p>
            <strong>Step 1.</strong> Select You Project from the top combobox and go to Dashboard &gt; Enable API
            <a href="https://i.stack.imgur.com/GOlfb.jpg" rel="nofollow noreferrer"><br /><img width="800" src="https://i.stack.imgur.com/GOlfb.jpg" alt="enter image description here"></a>
        </p>

        <p>
            <strong>Step 2:</strong> Search for Google plus and select it
            <a href="https://i.stack.imgur.com/jedjf.jpg" rel="nofollow noreferrer"><br /><img width="800" src="https://i.stack.imgur.com/jedjf.jpg" alt="enter image description here"></a>
        </p>

        <p>
            <strong>Step 3:</strong> Enable it!
            <a href="https://i.stack.imgur.com/MSXsS.jpg" rel="nofollow noreferrer"><br /><img width="800" src="https://i.stack.imgur.com/MSXsS.jpg" alt="enter image description here"></a>
        </p>

        <p>
            if you return to dashboard for that project you can see the list of enabled API's for that project at the bottom
            <a href="https://i.stack.imgur.com/X3krv.jpg" rel="nofollow noreferrer"><br /><img width="800" src="https://i.stack.imgur.com/X3krv.jpg" alt="enter image description here"></a>
        </p>
    </div>
</div>